body{
	width: 100%;
	height: 100%;
	background: url(../../static/img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow:hidden;
}

#div_console{
	position:absolute;
	width: 400px;
	height: 92.5%;
	opacity:0.7;
	filter:alpha(opacity=90);
	padding: 10px;
    overflow: hidden;
    font-family: consolas, monospace;
    color: #00ed0b;
    background-color: #000;
    font-size: 0.8em;
    line-height: 20px;
}

#div_console a{
	color: red;
	text-decoration:none;
}

#div_console a:hover{
	text-decoration:underline;
}


#div_bouton{
	left:400px;
	position:absolute;
	width: 65%;
	height: 90%;
	min-width:700px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
	margin: 2.5% 2.5%;
	box-shadow: 1px 1px 25px #555;
}


#epreuve{
	display:none;
	padding-left: 50%;
}
#bandeau_haut{
	width: 100%;
	height: 30px;	
	background-color: #D4D4D4;
}
#logo_sthack{
	margin: 3px 33px;
	float: left;
}
#liste{
	font-weight: bold;
	float: left;
	height: 30px;
}
#liste1{
	float: left;
	margin-left: 11px;
}
#nom_team{
	float: right;
	margin: 6px 13px;
	font-weight: bold;
}
#score_team{
	font-size: 1.6em;
	float: right;
	margin: 2px -1px;
}
#bt_team img{
	margin: 3px 14px;
	float: right;
}

#challenges{
	overflow: auto;
	width: 100%;
	height: 491px;
}
#bandeau_bouton{
	width: 100%;
	height: 25px;
	background-color: #616161;
}
#title_bandeau{
	color:#F7F7F7;
	padding: 6px 8px;
	font-family: verdana;
	font-size: 0.8em;
}
#liste a, #liste1 a{
	text-decoration: none;
	color: black;
	font-family: verdana;
	font-size: 0.8em;
}
#liste a div:hover, #liste1 a div:hover{
	background-color: #2968D8;
}
#liste a:hover, #liste1 a:hover{
	color: white;
}
#logo_team{
	float: right;
}
#logo_team img{
	width: 30px;
}
.btn{
	float: left;
	margin-left: 4.5%;
	margin-top: 3%;
}

.enfonce{
	cursor: pointer;
	display: inline-block;
  
  -webkit-box-shadow:
    0 4px 0 grey,
    0 7px 10px rgba(0,0,0,.35);
  -moz-box-shadow:
    0 4px 0 grey,
    0 7px 10px rgba(0,0,0,.35);
  box-shadow:
    0 4px 0 grey,
    0 7px 10px rgba(0,0,0,.35);
}

.enfonce:active {	
  -webkit-box-shadow: 
    0 0px 0 grey,
    0 0px 0px rgba(0,0,0,.3);
  -moz-box-shadow: 
    0 0px 0 grey,
    0 0px 0px rgba(0,0,0,.3);
  box-shadow: 
    0 0px 0 grey,
    0 0px 0px rgba(0,0,0,.3);

  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);

}


#final_bouton{
	height: 30px;
	width: 100%;
	float: left;
}