#popup{
	width: 510px;
	height: 270px;
}
#bandeau_epreuve{
	width:100%; 
	height: 17%; 
	background-color: grey;
}
#image_bandeau_epreuve{
	float: left;
	margin-left: 2%;
	margin-top: 1.5%;
}
#title_bandeau_epreuve{
	float:left; 
	margin-top: 1.6%; 
	margin-left: 2%; 
	color:white; 
	font-family: verdana;
	font-size: 1.5em;
}

#type_bandeau_epreuve{
	float:left; 
	margin-top: 2.6%; 
	margin-left: 2%; 
	color:white;
	font-family: verdana;
	font-size: 1em;
}

#pts_bandeau_epreuve{
	float:right; 
	margin-top: 1.6%; 
	margin-right: 3%; 
	color:white; 
	font-family: verdana;
	font-size: 1.5em;
}
#conteneur_epreuve{
	height: 83%;
	width: 100%;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#ffffff 0%,#e3e3e3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}
#texte_conteneur_epreuve{
	margin-top: 2%;
	width:50%; 
	padding:0 2%; 
	overflow:auto; 
	height:87%; 
	float:left;
	margin-right: 3%;
}
#input_conteneur_epreuve{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	width:90%; 
	height: 28px;
	border: 3px solid #c2c2c2; 
	margin-top: 3%;
}
#bouton_cancel_flag{
	width: 93%; 
	height: 40px; 
	background-color: #a4a4a4; 
	margin-top:10%; 
	border:0; 
	font-size: 1.4em;
	color: white;
	cursor: pointer;
	font-family: verdana;
}
#bouton_submit_flag{
	width: 93%; 
	height: 69px; 
	background-color: #fc2828; 
	margin-top:4.5%;
	border:0; 
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
	font-family: verdana;
}
#right_pop{
	float:left; 
	width:43%; 
	margin-top:2%;
}
#bad_flag{
	color: #fc2828;
	margin-left: 43%;
	font-size: 0.8em;
}
#title_popup{
	font-size: 1.4em; 
	color:grey; 
	font-family: verdana;
	margin-bottom:3%;
}


.popup_block{
	display: none; /*--masqué par défaut--*/
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--Les différentes définitions de Box Shadow en CSS3--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--Coins arrondis en CSS3--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

*html .popup_block {
position: absolute;
}
